
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

@model Products

<form asp-controller="Product" asp-action="Add" method="post">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün İsmi:</label>
        <input  class="form-control" asp-for="Name">
    </div>


    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyatı:</label>
        <input class="form-control" asp-for="Price">
    </div>


    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stok:</label>
        <input class="form-control" asp-for="Stock">
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish" >
        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı?
        </label>

    </div>

    <div class="mb-3 mt-3">
        <h4>Ürün Kac Ay Satışta Kalıcak</h4>
    @foreach (var item in ViewBag.Expire as Dictionary<string,int>)
    {
            <div class="form-check">
                <input class="form-check-input" type="radio" id="@(item.Value) Expire" asp-for="Expire" value="@item.Value">
                <label class="form-check-label" asp-for="Expire" for="@(item.Value) Expire" Expire@{item.Value}">
                    @item.Key
                </label>
            </div>

    }

    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" placeholder="Ürün Açıklama" id="floatingTextarea"></textarea>
        <label asp-for="Description">Ürün Açıklaması</label>
    </div>

    <button type="submit" class="btn btn-primary">Ürün Kaydet</button>



</form>

