
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

@model Products

<form asp-controller="Product" asp-action="Add" method="post">
    <label>Ürün İsmi:</label>
    <input type="text" asp-for="Name"/>
    <br />
    <label>Ürün Fiyatı:</label>
    <input type="text" asp-for="Price" />
    <br />
    <label>Ürün Stok:</label>
    <input type="text" asp-for="Stock" />
    <br />

    <button type="submit">Ürün Kaydet</button>



</form>

